$body-bg-color: rgba(31,178,75, 0.2);

$section-color: #123456;
//$overlay-color: #42b078;
$overlay-color: #1FB24B;
$footer-bg-color: #222;

//$nav-bg-color: #740504;
$nav-bg-color: #B20201;
$nav-bg-color-rgba: rgba(178,2,1, 0.35);
$nav-color-2: #E80C0F;
$nav-hover-color: #e7e7e7;

//$portfolio-img-fa-border-color: rgba(255,255,255, 1);
$portfolio-img-fa-icon-color: rgba(255,255,255, 1);

$mobile: 420px;
$tablet: 992px;
$desktop: 1200px;