header {
    
position: relative;
height: 60vh;
padding: 0;
width: 100%;

}

.img-container {

  height: 100%;
  background-image:
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=),
      linear-gradient(rgba(31,178,75, 1), rgba(31,178,75,.5)),
      url("../../assets/img/bg-gimp.png");
      
    background-attachment: fixed, fixed, fixed;
//      
  background-size: 2px 2px, cover, cover;
//  background-repeat: no-repeat, no-repeat, no-repeat;
//  background-position: 50% 50%;
//  z-index: 1;

}

.intro-message {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  z-index: 2;

  color: white;

}

@media screen and (max-width: $mobile) {

  .intro-message {

    h3 {

      font-size: 150%;

    }


  }


}