/*personal picture*/
.picture {


  border-radius: 50%;
  margin: 10px 10px 10px 10px;
  max-width: 60%;
  height: auto;
  width: auto\9; /* ie8 */


}

@media screen and (max-width: $tablet) {

.picture {

  max-width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;

}

}