/*personal picture*/
.picture {


  border-radius: 50%;
  margin: 10px 10px 10px 10px;
  max-width: 60%;
  height: auto;
  width: auto\9; /* ie8 */


}

@media screen and (max-width: $tablet) {

.picture {

  margin: 40px 10px 40px 10px;
  max-width: 50%;


}

}