section {


  margin-top: 10%;
  text-align: center;
//  background-color: $section-color;


}

#portfolio {


  margin-bottom: 20px;

  div[class*="col"] {

    padding-right: 0;
    padding-left: 0;



}

}