section {
    margin-top: 10%;
    padding-top: 2% !important;
    text-align: center;
    background: #fff;
    
   .page-header > h2 {
    
    padding-top: 60px;
    margin-top: -40px;
    
}

}



#portfolio {
    
    padding-right: 20%;
    padding-left: 20%;
    
    div[class*="col"] {
        padding-right: 0;
        padding-left: 0;
    }
    
    padding-bottom: 60px;
}

#about {
//    
//    h2 {
//        padding-top: 60px;
//        margin-top: -40px;
//    }
    
    vertical-align: middle;
    .row {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:$tablet) {
    /*resume the about section into original properties -- otherwise the layout flow will be messy */
    #about {
        padding-right: 20%;
        padding-left: 20%;
        .row {
            display: table;
            align-items: inherit;
        }
    }
}

@media screen and (min-width:$tablet) {
    section {
        padding: 100px;
        //border-radius: 1.5%;
        
    }
    #portfolio {
        //        padding: 10px;
    }
    /*    .container {
    
        padding: 0 10%;
            background: red;
    }*/
}

